.he{
	margin-left: 200px;
	margin-top: 10px;
}
.hezi1{
	width:120px;
	height:120px;
	border:5px solid #C0C950;
	padding:10px;
	box-sizing:content: -box;
	-webkit-box-sizing:content: -box;
	padding-bottom: 9999px;
 	margin-bottom: -9999px; 
}
.neirong1{
	width:120px;
	height:120px;
	background-color: #7C2A2A;
}
.hezi1:hover{
	width:160px;
}

.hezi2{
	width:150px;
	height:150px;
	border:5px solid #C0C950;
	padding:10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;

}
.neirong2{
	width:120px;
	height:120px;
	background-color: #7C2A2A;
}

.hezi3{
	width:120px;
	height:120px;
	border:5px solid #C0C950;
	padding:10px;
	box-sizing:content: -box;
	-webkit-box-sizing:content: -box;
	display:flex;
	display:-webkit-flex;
}
.neirong3{
	width:120px;
	height:120px;
	background-color: #7C2A2A;
	flex:1;
	-webkit-flex:1;
}
.hezi3:hover{
	width:160px;
}
